annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
beautifulsoup4==4.14.3
blis==1.3.3
bs4==0.0.2
catalogue==2.0.10
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.1.7
cloudpathlib==0.24.0
confection==1.3.3
contourpy==1.3.3
cycler==0.12.1
cymem==2.0.13
DAWG2-Python==0.9.0
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
feedparser @ file:///home/task_177209713289958/croot/feedparser_1772097160750/work
fonttools==4.62.1
gTTS==2.5.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
murmurhash==1.0.15
nltk==3.9.4
numpy==2.4.4
packaging==26.0
pandas==3.0.2
pillow==12.2.0
preshed==3.0.13
PyAudio==0.2.14
pydantic==2.13.3
pydantic_core==2.46.3
pydub==0.25.1
Pygments==2.20.0
pymorphy3==2.0.6
pymorphy3-dicts-ru==2.4.417150.4580142
pymorphy3-dicts-uk==2.4.1.1.1663094765
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
regex==2026.4.4
requests==2.33.1
rich==15.0.0
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.1
sgmllib3k @ file:///Users/ktietz/demo/mc3/conda-bld/sgmllib3k_1630650258356/work
shellingham==1.5.4
six==1.17.0
smart_open==7.6.0
soupsieve==2.8.3
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.16.1
srsly==2.5.3
thinc==8.3.13
threadpoolctl==3.6.0
tqdm==4.67.3
typer==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uk_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/uk_core_news_lg-3.8.0/uk_core_news_lg-3.8.0-py3-none-any.whl#sha256=60b56f8fa5525925cf8e6266a80e907431c3d475f874c75c68b62f3e12620b0b
urllib3==2.6.3
wasabi==1.1.3
weasel==1.0.0
wheel==0.46.3
wrapt==2.1.2
